body,
html {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #212121;
  height: 15vh;
  width: 100%;
  min-height: 80px;
  padding: 0 20px;
  position: fixed;
  z-index: 9;
  top: 0;
  box-shadow: 0px -2px 20px #000;
}
header .topo {
  height: 100%;
  position: relative;
}
header .topo .logo-header {
  width: 20vw;
  max-width: 200px;
  min-width: 150px;
  line-height: 15vh;
  margin-top: 4vh;
}
header .topo .icones {
  position: absolute;
  top: 15px;
  right: 0;
}
header .topo .icones .icons {
  max-width: 23px;
}
header .btn-agd {
  background: #ffcb00;
  background: linear-gradient(0deg, #ffcb00 0%, #ffcb00 65%, #ffea99 100%);
  position: absolute;
  right: 15px;
  top: -15px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  z-index: 5555 !important;
}
header .btn-agd a {
  color: #212121;
}
header .btn-agd a:hover {
  text-decoration: none;
}

.carrousel {
  height: 70vh;
  width: 100%;
  margin-top: 15vh;
}
.carrousel .banner {
  background: url("../imgs/background.jpg");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  height: 100%;
  width: 100%;
}
.carrousel .tema {
  max-width: 450px;
  position: absolute;
  right: 10vw;
  margin-top: 15vh;
  padding-left: 20px;
  border-radius: 10px;
}
.carrousel .tema h1 {
  color: #FFCB00;
  font-weight: 200;
  text-transform: uppercase;
}
.carrousel .tema p {
  margin-top: 30px;
  color: #fff;
  font-weight: 300;
  line-height: 2;
}
.carrousel .tema p strong {
  font-weight: 800;
}

.content {
  background-color: #212121;
  padding-bottom: 100px;
}

#services {
  padding: 70px 70px;
  display: flex;
}
#services .linese {
  height: 2px;
  background: #FFCB00;
  width: 100%;
  margin-top: 20px;
}
#services .services-title {
  width: 100%;
  color: #FFCB00;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 30px;
  min-width: 306px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordione {
  background-color: transparent;
  color: #FFCB00;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1s all;
  border-bottom: 1px solid rgba(204, 204, 204, 0.719);
}
.accordione img {
  width: 30px;
}
.accordione h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  padding-left: 30px;
  text-transform: uppercase;
}

.panel {
  padding: 20px 18px;
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #FFCB00;
  border-bottom: 1px solid #ccc;
}
.panel .shot-descri {
  position: relative;
}
.panel .shot-descri h5 {
  font-size: 15px;
  color: #FFCB00;
}
.panel .shot-descri h5:after {
  content: url(../imgs/shunf-down.png);
  padding-left: 10px;
}
.panel .shot-descri p {
  font-size: 13px;
  margin-right: 120px;
  color: #ccc;
  font-weight: 300;
}
.panel .shot-descri button {
  position: absolute;
  right: 10px;
  top: 5px;
  background: #FFCB00;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
}
.panel .shot-descri button:hover {
  transform: scale(1.05);
}
.panel .shot-descri button a {
  display: block;
  line-height: 30px;
  padding: 0 5px 0 5px;
  margin-top: -7px;
  color: #212121;
}
.panel .shot-descri button a:hover {
  text-decoration: none;
}

.card {
  border: none;
}
.card .card-header {
  border: none;
  padding: 0;
  background-color: transparent;
}
.card .collapsed .shot-descri h5 {
  color: #ccc;
}

.accordione:after {
  content: url(../imgs/shunf-down.png);
  width: 10px !important;
  height: auto;
  margin-left: 15px;
  position: absolute;
}

.active:after {
  content: url(../imgs/shunf.png);
}

.locate {
  background-image: url("../imgs/maps.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  height: 600px;
  padding: 50px 0;
}

.fale-conosco {
  background: #fff;
  padding: 70px 50px;
  border-radius: 5px;
  max-width: 400px;
  font-weight: 300;
}
.fale-conosco .como-chega,
.fale-conosco .enviar {
  background: #FFCB00;
  font-weight: 800;
}
.fale-conosco .funcionamento {
  margin-top: 40px;
}
.fale-conosco form {
  line-height: 30px;
}
.fale-conosco p {
  line-height: 1;
}

footer {
  padding: 30px 0;
  background: #FFCB00;
}
footer img {
  width: 65px;
  margin-bottom: 30px;
}
footer p {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .tema {
    background: rgba(0, 0, 0, 0.473);
    right: 0 !important;
    max-width: 100vw !important;
    width: 100vw;
    padding: 15px;
    margin: 0;
    text-align: center;
  }

  #services {
    padding: 70px 10px;
  }

  .accordione {
    width: 100%;
  }
  .accordione h3 {
    font-size: 15px;
  }

  footer p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
